services:
  qdrant:
    image: qdrant/qdrant:latest
    restart: always
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - ./qdrant_data:/qdrant/storage

  api:
      build: .
      restart: always
      depends_on:
        - qdrant
      environment:
        QDRANT_URL: http://qdrant:6333
        SOURCE_URL: https://confluence.atlassian.com/doc/page-restrictions-139414.html
        EMBEDDING_MODEL: deepvk/USER-bge-m3
        CNAME: testovoe
      ports:
        - "8000:8000"
      volumes:
        - ./hf_cache:/root/.cache/huggingface